.HomeFeaturesSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &__title {
    color: var(--color-secondary-500);
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 2em;
    max-width: 30rem;

    & b {
      font-weight: 500;
    }
  }

  &__feutureList {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
