.CardMancha {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;

  @include from(lg) {
    flex: 1;
  }

  &--active {
    @include from(lg) {
      &::before {
        content: "";
        mask-image: url("/svg/manchaCard.svg");
        width: 320px;
        height: 300px;
        mask-size: cover;
        position: absolute;
        z-index: -15;
        opacity: 1;
        transition: transform 0.3s;
        transform: scale(0.1);

        background-color: var(--color-primary-600);
      }

      &:nth-child(2)::before {
        background-color: #cd9797;
      }

      &:nth-child(3)::before {
        background-color: var(--color-secondary-600);
      }

      &:hover::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__img {
    max-width: 200px;
    margin-bottom: 1rem;

    @include from(lg) {
      max-width: 280px;
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    color: var(--color-primary-600);
    text-align: center;
    font-size: 1em;
    font-weight: 500;

    @include from(lg) {
      max-width: 280px;
      font-size: 1.2em;
    }
  }
}
