.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  &__logo {
    flex: 0.1;
    height: 4rem;
    width: 5.75rem;
  }

  &__menuIcon {
    width: 1.75em;
    height: 1.75em;

    @include from(lg) {
      display: none;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.8;
    gap: 1rem;
    @include from(m) {
      gap: 2rem;
    }
  }
}
